<div class="container main-detail">
  <div
    class="animation-transition"
    [style.height]="isBusyHeight"
    [style.opacity]="isBusyOpacity"
    [style.visibility]="isBusyVisibility">
    <div *ngIf="myPoke" class="row no-gutters">
      <div class="col-md-4">
        <img
          [src]="myPoke.img"
          class="pokemon-img"
          [alt]="myPoke.name"
          (error)="onErrorImg(myPoke)"
          (load)="onLoadImg()"/>
      </div>
      <ul class="p-3 list-group list-group-flush col-md-8">
        <li class="list-group-item">
          <strong>{{ myPoke.name | uppercase }}</strong>
          <fa-icon
            class="ic-favor"
            [ngClass]="{
              'favor': myPoke.isFavorite,
              'no-favor': !myPoke.isFavorite
            }"
            (click)="favoritePoke()"
            [icon]="faStar">
          </fa-icon>
        </li>
        <li class="list-group-item">Altura: {{ myPoke.height }}</li>
        <li class="list-group-item">Peso: {{ myPoke.weight }}</li>
        <li class="list-group-item">Habilidades:
          <span class="m-1 badge badge-light"
            *ngFor="let abilitie of myPoke.abilities"
          >
            {{abilitie.ability.name}}
          </span>
        </li>
        <li class="list-group-item">Tipo:
          <span class="m-1 badge badge-info"
            *ngFor="let type of myPoke.types"
          >
            {{type.type.name}}
          </span>
        </li>
      </ul>
    </div>
  </div>

  <div
    class="spinner-container animation-load-transition"
    [style.opacity]="isBusyLoadOpacity"
    [style.visibility]="isBusyLoadVisibility"
  >
    <img class="spinner-load" src="assets/img/ball.png">
    <h3 class="info">{{name}}, eu escolho você!</h3>
  </div>
</div>

